.content {
	background: white;
}

.content>h1,
.content>h2,
.content>h3,
.content>h4,
.content>h5,
.content>h6,
.content>p,
.content>table,
.content>ul,
.content>ol,
.content>aside, 
.content>dl {
	width: 100%;
}
.content pre, 
.content blockquote {
	background-color: #292929;
    color: #fff;
    width: 96%;
    margin: 2%;
    float: left;
    clear: left;
    background-color: #ccc;
    color: #555;
    box-sizing: border-box;
    text-shadow: 0px 0px 0px rgba(0,0,0,1);
}

.content p, .content li, .content dt, .content dd {
    font-size: 16px;
}

.content h2 {
    margin-top: 2em;
}