<div class="navbar navbar-default yamm" role="navigation" id="navbar">

    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand home" href="{{ .Site.BaseURL }}/">
                <h2 style="margin-top: -3px;">API Reference</h2>
            </a>
            <div class="navbar-buttons">
                <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation">
                  <span class="sr-only">{{ i18n "navToggle" }}</span>
                    <i class="fa fa-align-justify"></i>
                </button>
            </div>
        </div>

        <div class="collapse clearfix" id="search">

            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">

                <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button>

            </span>
                </div>
            </form>

        </div>
        <!--/.nav-collapse -->

    </div>
</div>
    <!-- /#navbar -->
<!-- *** NAVBAR END ***-->
