<!doctype html>
<html>
{{ partial "head_apidoc.html" . }}
<body class="index" data-languages="{{ with .Site.Params.language_tabs  }}[{{ range $i,$e := . }}{{- if $i -}}, {{ end -}}{{ printf " %q " $e.key }}{{end}}]{{ end }}">
    {{ partial "sidebar_doc.html" . }}
    <div class="page-wrapper">
        <div class="dark-box"></div>
        <div class="content">
            {{ .Content }}
        </div>
        <div class="dark-box">
            {{ with .Site.Params.language_tabs }}
            <div class="lang-selector">
                {{ range . }}
                <a href="#" data-language-name="{{ .key }}">{{ .name  }}</a>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>
</body>
</html>
